@import "/output.css";
@import "/assest/src/fonts/yekan-bakh/font-ykan.css";

.checkbox-wrapper-36 *,
.checkbox-wrapper-36 *::before,
.checkbox-wrapper-36 *::after {
  box-sizing: border-box;
  cursor: pointer;
}

.checkbox-wrapper-36 label {
  background: white;
  border-radius: 8px;
  display: flex;
  height: 45px;
  position: relative;
  transition:
    transform 300ms ease,
    box-shadow 300ms ease;
  width: 140px;
}

.checkbox-wrapper-36 input {
  display: none;
}

.checkbox-wrapper-36 label:after {
  content: "روشن";
  width: 50%;
  padding: 5px;
  height: 100%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move-left-36 400ms;
  background-color: white;
  color: black;
  border-radius: 8px;
  outline: none;
  position: absolute;
  transition: background-color 100ms linear;
  left: 0;
}

.checkbox-wrapper-36 label:active {
  transform: scale(1.15);
}

.checkbox-wrapper-36 input:checked + label:after {
  content: "تاریک";
  color: white;
  font-size: 24px;
  padding: 5px;
  animation: move-right-36 400ms;
  background-color: #148f77;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 72px;
  bottom: 0;
}
.toggleMod {
  ~ label {
    transition: all 0.1s ease-in-out;
    &:hover {
      transition: all 0.1s ease-in-out;
      box-shadow: #1d1d1d 1px 1px 5px;
      background-color: #2d2d2d;
    }
  }
}

@keyframes move-right-36 {
  0% {
    left: 8px;
  }
  75% {
    left: 78px;
  }
  100% {
    left: 72px;
  }
}

@keyframes move-left-36 {
  0% {
    left: 72px;
  }
  75% {
    left: 2px;
  }
  100% {
    left: 8px;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #2d2d2d;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #148f77;
}

.hoverlight {
  &:hover {
    background-color: #1d1d1d !important;
  }
}
.hoverdark {
  &:hover {
    background-color: #0e6c5a !important;
  }
}

#imagelisence {
  transition: all 0.2s ease;
  &:hover {
    transition: all 0.2s ease;
    height: 60px;
    filter: contrast(100%);
    left: 15px;
  }
}

.icons {
  transition: all 0.1s ease-in-out;
  &:hover {
    transition: all 0.1s ease-in-out;
    width: 100px;

    background-image: url(/assest/src/images/clip-snow-gif-background-8.gif);
  }
}
.menuList {
  a {
    div {
      position: relative;
      height: 100%;
      padding: 0;
      border-radius: 15px 15px 0 0;
      padding: 0 10px;
      transition: all 0.1s ease-in-out;

      &:hover {
        margin-top: 5px;
        transition: all 0.1s ease-in-out;
        background-image: url(/assest/src/images/clip-snow-gif-background-8.gif);
        &::before {
          position: absolute;
          transition: all 0.1ms ease-in-out;
          bottom: 0;
          right: -6px;
          content: "";
          height: 22px;
          width: 10px;
          border-radius: 0 0 0 10px;
        }
        &:after {
          position: absolute;
          transition: all 0.1ms ease-in-out;
          bottom: -1px;
          left: -7px;
          content: "";
          height: 22px;
          width: 10px;
          border-radius: 0 0 10px 0;
        }
      }
    }
  }
}
.hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: all 0.2s ease-in-out;

    background-image: url(/assest/src/images/clip-snow-gif-background-8.gif);
  }
}
#imagePerson {
  width: 90px;
  transition: all 0.1s ease-in-out;
  background-image: none;

  &:hover {
    transition: all 0.1s ease-in-out;
    width: 110px;
    background-image: url(/assest/src/images/clip-snow-gif-background-8.gif);
  }
}

.shortcut:hover {
  .bottomhover {
    width: 100%;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }
}
.shortcut:not(:hover) {
  .bottomhover {
    width: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }
}

.socials {
  transition: all 0.2s ease-in-out;
  left: 0;
  &:hover {
    width: 35px;
    height: 35px;
    transition: all 0.2s ease-in-out;
    left: -20px;
  }
}

.acseptfooter {
  transition: all 0.1s ease-in-out;
  box-shadow: none;
  &:hover {
    transition: all 0.1s ease-in-out;
    border: 1px solid #1d1d1d;
    box-shadow: #1d1d1d 0 0 8px;
  }
}

.cancelfooter {
  box-shadow: none;
  transition: all 0.1s ease-in-out;
  &:hover {
    transition: all 0.1s ease-in-out;
    border: 1px solid #1d1d1d;
    box-shadow: #1d1d1d 0 0 8px;
  }
}
