@tailwind base;
@tailwind components;
@tailwind utilities; 
:root{
  --colorDynamic: red;
  --pulscolor:rgb(34, 197, 94);
}


@font-face {
    font-family: yekan;
    font-weight: normal;
    src: url('/src/YekanBakh-Regular.woff');
}
@font-face {
    font-family: yekan;
    font-weight: bold;
    src: url('/src/fonts/YekanBakh-Bold.woff');
}
*{
    font-family: yekan !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

@keyframes borderLoading {
  0% {background-color: black;}
  50% {background-color: #0C4DA2;}
  100% {background-color: black;}

}



.borderLoading{
  
    animation: borderLoading 10s linear  infinite;
  }


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes javascript-click {
  0% {background-color: #0C4DA2;}
  50% {background-color: var(--colorDynamic)}
  100% {background-color: #0C4DA2;}

}

.javascript-An{
    transition: all 0.5s ease;
  animation: javascript-click 10s linear infinite;
}



@keyframes animate-pulsese {
  0% {border: 0; padding: 0;}
  100% {border: 2px solid var(--pulscolor); padding: 6px;  }
}

.animate-pulses:hover{
  animation: animate-pulsese 1s linear infinite;
}


@media (min-width: 1024px) {
.section-2{
  transition: all 1s ease;
  max-width: 400px;
  flex-direction: row !important;
  .mini-section-2{
    transition: width  0.7s ease;
      width: 0;
      padding: 0;
      &.active{
        padding: 12px !important;
         transition: width 0.7s ease;
        width: 400px !important;
      }
    }
  &.section-2-full{
    z-index: 1;
    transition: all 1s ease;
    max-width: 100% !important; 
    svg{
      width: 48px !important;
      height: 48px !important;
      &:hover{
        width: 56px !important;
        height: 56px !important;
      }
    }


  }
}
}
@media (min-width: 1024px) {
.section-3{
  transition: all 1s ease;
  width: 100% ;
  filter: blur(0);
  &.section-3-full{
    padding: 0;
    transition: all 1s ease;
    width: 0 !important;
    filter: blur(50px) !important;

  }
}
}
@media (min-width: 1024px) {
.section-4{
  transition: all 1s ease;
  filter: blur(50px);
  &.section-4-full{
    padding: 0;
    transition: all 1s ease;
    filter: blur(0) !important;
  }
}
}
